[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==1.10.0"
pandas = "*"
tqdm = "*"
jieba = "*"
matplotlib = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
"flake8" = "*"
rope = "*"
isort = "*"
pytest = "*"
ipykernel = "*"

[requires]
python_version = "3.6"
